.u-text-center{
    text-align:center;
}
.margin-bottom-large{
    margin-bottom: 8rem;
  }
  .margin-bottom-medium
  {
    margin-bottom: 6rem;
  }
  .margin-bottom-small{
    margin-bottom: 2rem;
  }

  .u-bg-color{
    background-color:rgba($colorwhite,0.7);
  }
  