$gutter-space:3.5rem;
$light-green:#7ed56f;
$dark-green:#28b485;
$mediun-green:#55c578;
$color-black:#000;
$colorwhite:#fff;
$lightorange:#ffb900;
$darkorange:#ff7730;
$lightblue:#2998ff;
$darkblue:#5643fa;
$darkgray:#898989;
$lightgray:#575454;
$bg-url:url(..images/nat-5.jpg);

